################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/link.write.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/link.read.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/link.command.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/CL.write.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/CL.read.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/CL.command.1.tlog
/Final Project/Adventure/Adventure/x64/Debug/Adventure.tlog/Adventure.lastbuildstate
/Final Project/Adventure/Adventure/x64/Debug/Adventure.log
/Final Project/Adventure/Adventure/x64/Debug/vc141.pdb
/Final Project/Adventure/Adventure/x64/Debug/vc141.idb
/Final Project/Adventure/Adventure/x64/Debug/Adventure.obj
/Final Project/Adventure/Adventure/Adventure.vcxproj.user
/Final Project/Adventure/x64/Debug
*.ipch
*.suo
/Final Project/Adventure/.vs/Adventure/v15/Browse.VC.db
/.vs/Final/v15/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
