################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/Final/v15/Browse.VC.db
/.vs
/Final Project/Adventure/.vs
/Final Project/Adventure/Adventure/x64/Debug
/Final Project/Adventure/x64/Debug
/Final Project/Adventure/Adventure/Adventure.vcxproj.user
